# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/
bin
obj

# Other files and folders
.settings/
.vscode/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.

.DS_Store
*/appsettings.Development.json
*/books.db
*/.eslintcache

# # # # # # # # # # # # react_finder # # # # # # # # # # #

# dependencies
*/node_modules

# testing
*/coverage

# production
*/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
bookfinder_outline.txt

npm-debug.log*
yarn-debug.log*
yarn-error.log*
